<section fxlayoutAlign="center">
    <mat-grid-list [cols]="colSize" rowHeight="600px">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    
                    <mat-card-title>Exit</mat-card-title>
                    <mat-card-subtitle>
                      <mat-icon>location_on</mat-icon>Novi Sad
                    </mat-card-subtitle>
                  </mat-card-header>
                
                <img mat-card-image src="../../../assets/images/exit.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button mat-raised-button color="primary"(click)="openDialog();newMessage(0);">More details</button>
                  
                  </mat-card-actions>
            </mat-card>  
        </mat-grid-tile>
        <mat-grid-tile> <mat-card>
          <mat-card-header>
              
              <mat-card-title>Guca</mat-card-title>
              <mat-card-subtitle>
                <mat-icon>location_on</mat-icon>Dragacevo
              </mat-card-subtitle>
            </mat-card-header>
          
          <img mat-card-image src="../../../assets/images/guca.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
          <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="end">
              
                <button mat-raised-button color="primary" (click)="openDialog();newMessage(1)">More details</button>
              
              
              
          </mat-card-actions>
         
      </mat-card> 
     </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
                
                <mat-card-title>FK Partizan - FK Voj...</mat-card-title>
                <mat-card-subtitle>
                  <mat-icon>location_on</mat-icon>Nis
                </mat-card-subtitle>
              </mat-card-header>
            
            <img mat-card-image src="../../../assets/images/kup.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="openDialog();newMessage(2)">More details</button>
                
              </mat-card-actions>
        </mat-card> 
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
                
                <mat-card-title>Posetite kalemegdan</mat-card-title>
                <mat-card-subtitle>
                  <mat-icon>location_on</mat-icon>Beograd
                </mat-card-subtitle>
              </mat-card-header>
            
            <img mat-card-image src="../../../assets/images/kalemegdan.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="openDialog();newMessage(3)">More details</button>
                
              </mat-card-actions>
        </mat-card> 
        </mat-grid-tile>
    </mat-grid-list>

   
    
</section>